.glide__slides{
  align-items: center;
}

.glide__slide{
  height: auto;
  transform: scale(.9);
}

.glide__slide--active{
  transform: scale(1);
}

.glide__track{
  position: relative;
}

.controls__carousel{
  position: absolute;
  top: 50%;
  left: -8px;
  right: -8px;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(sm){
    left: 0;
    right: 0;
  }

  button{
    all: unset;
    cursor: pointer;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
      svg{
        fill: $primary-light;
      }
    }

    svg{
      height: 40px;
      width: 40px;
      fill: $primary; 
      transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}