$primary: #002198;
$primary-light: #79b2ed;
$primary-dark: #091f6e;
$secondary: #ff36bd;
$secondary-dark: #dc0496;
$success: #58a20b;
$green-active: #0bd83a;
$card-bg: #efefef;

$theme-colors: (
  "primary":        $primary,
  "primary-light":  $primary-light,
  "primary-dark":   $primary-dark,
  "secondary":      $secondary,
  "secondary-dark": $secondary-dark,
  "success":        $success,
  "green-active":   $green-active,
  "card-bg":        $card-bg,
  "white":          #fff,
  "black":          #000,
);